# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
      - script: |
          dotnet restore
          dotnet build --configuration $(buildConfiguration)
        displayName: 'dotnet build $(buildConfiguration)'
        #dotnet publish -c Release -o '$(System.DefaultWorkingDirectory)' 
      - task: ArchiveFiles@2
        inputs:
          rootFolderOrFile: '$(Build.BinariesDirectory)'
          includeRootFolder: true
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/drop.zip'
          #archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
          #archiveFile: '$(System.DefaultWorkingDirectory)/drop.zip'
          replaceExistingArchive: true
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
- stage: Deploy
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployWeb
    displayName: deployWebApp
    environment: 'WebTeste'
    strategy:
      runOnce:
        deploy:
          steps:
          # - task: AzureRmWebAppDeployment@4
          #   inputs:
          #     ConnectionType: 'AzureRM'
          #     azureSubscription: 'Visual Studio Enterprise – MPN(2ef750f2-dc8f-4c79-9390-9c6eee2c0a7e)'
          #     appType: 'webAppLinux'
          #     WebAppName: 'WebDcitTeste'
          #     #packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.zip'
          #     packageForLinux: '/home/vsts/work/1/**/*.zip'
          #     RuntimeStack: 'DOTNETCORE|3.1'
          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'Visual Studio Enterprise – MPN(2ef750f2-dc8f-4c79-9390-9c6eee2c0a7e)'
              appType: 'webAppLinux'
              appName: 'WebDcitTeste'
              package: '/home/vsts/work/1/drop/drop.zip' 
